@charset "UTF-8";
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
 }
.div1 {
   height: 850px;
   margin: auto;
   padding: 20px;
   position:relative;
   right:50px;
   
}
.container0 {
   position: absolute;
   left:17%;     
   top:4%;
   width:890px;
   height:640px;
}
.container2 {
   position: absolute;
   left: 20px;
   top:20px;
}
.reset {
   position: absolute;
   left:77%;
   width:120px;
   top:10px;;  
  
}
.next {
   position:absolute;
   left:750px;
   top:630px;
   width:120px;        
}
.message{
   position:absolute;
   top:100px;
}

.div2 {
   color:#ffffff;
   font-size:9px;
   text-align:center;
   width:50px;
   height:150px;
   background-color: #2E2E2E;      
}
.div3 {
   color:#ffffff;
   text-align:center;
   font-size:9px;
   width:50px;
   height:150px;
   background-color: #FA5858;
   
}
.div4 {
   color:#000000;
   text-align:center;
   font-size:9px;
   width:50px;
   height:150px;
   background-color: #FFFFFF;
   
}
.container {
   width:800px;
   display: flex;
   position:absolute;
   top:20px;
   left:70px;   
  }
.box {
   flex: 1; /* 공간을 동등하게 분할 */
   border: 1px solid black;
   padding: 10px;
   text-align:center;
   background-color:#000000;
   color: #ffffff;
   text-align:center;    
}
.container1 {
   width:800px;
   display: flex;
   position:absolute;
   top:62px;
   left:70px;
   height:558px;
   background-color:#ffffff;
    display: grid;
    place-items: center;   
}
.box1 {
   flex: 1; /* 공간을 동등하게 분할 */
   border: 1px solid #cccccc;
   padding: 10px;
   background-color:#ffffff;
}
.box2 {
   flex: 1; /* 공간을 동등하게 분할 */
   
   padding: 10px;
   background-color:#ffffff;
}
.box_st {   
   border: 1px solid #070707;
   padding: 10px;
   background-color:#070707;
   margin-left:-10.8px;
   margin-top:-11px;
   width:100%; 
   height:20px;
}

.btn_s {
   display: block;
   width: 100%;
   padding: 10px;
   background-color: #FA5858;
   color: #FFF;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   text-align:center;
   position:relative;
   right:130px;
   bottom:38px;
}

.btn_location { 
   border: #cccccc;
   background-color: #ffffff;
   cursor: pointer; 
   width:98%;
   height:30px;
}
.btn_date { 
   width:10px;
   border: #cccccc;
   background-color: #ffffff;
   cursor: pointer; 
   text-align:center;
 }
 .btn_time { 
   width:60px;
   height:40px;
   border:2px solid #BDBDBD;
   background-color: #ffffff;
   cursor: pointer; 
   border-radius:5px;
   hover:red;
 }
 .btn_submit { 
   display: block;
   width: 100%;
   padding: 10px;
   background-color: #FA5858;
   color: #FFF;
   border: none;
   border-radius: 3px;
   cursor: pointer; 
 }
 #ticket{
    width:1200px;
    height:800px;
    margin-top:20px;
    position:relative;
    top:30px;
    left:50px;
        
 } 

input[type="text"] {
    width: 150px; /*가로크기*/
    height: 35px; /*세로크기*/
    background-color: #000000; /*배경색*/
    border:1.5px solid #000000; /*테두리 두께, 선스타일, 색상*/
    border-radius:1px; /*테두리 둥글게*/
    outline:none; /*기본테두리안보이게*/
    padding:3px 3px 2px 7px; /*안쪽여백*/
    box-sizing:border-box; /*테두리를 기준으로 박스크기 설정*/
    transition:.3s; /*서서히 나타내기*/
    margin-top:-5px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
}
input::placeholder {
  color: #ffffff;
  
}


/* button[title]:hover::after{
   content:attr(title); 
   position: relative; 
   top: 100%;  
   left: 100%; 
   width:100px;
   height:50px; 
   line-height:15px;  
   padding: 5px; 
   background:#EAEAEA; 
   font-size:12px; 
   border:1px solid black; 
   color:black; 
   text-align:center; 
   z-index:100;
   display:none;
} */

ul {
    list-style: none;
    margin:0px;   
   padding:0px;
}
li {
   margin-top:10px;
   margin-right:5px;
   margin-left:5px;
   padding:0px;
   float:left;
   align:center;
}
.choose{   
   
   width:200px;
   height:30px;
   align:center;
   margin-left:8px;
}


hearder {

}

nav {
   width:1200px;
}

section {
   width:1200px;
   text-align:center;
   background-color:black;
}

aside {
   margin-top:25px;
   text-align:center;
}

article {
   margin-top:25px;
   text-align:center;
}

body {
   font-size:12px;
   text-align:center;
}

a {
   text-decoration:none;
   color:black;
}

div.d1 {
   width:1200px;
   text-align:center;
}

div.outline {
   width:1200px;
   text-align:center;
}

div.main {
   width:1200px;
   text-align:center;
   align:center;
   item-align:center;
   border-collapse:collapse;
}
/* 상단메뉴 */
table.mainmenu2 {
   width:1200px;
   text-align:center;
   border-collapse:collapse;
   margin-top:10px;
   margin-bottom:5px;
}

table.mainmenu2 th{
   text-align:center;
   font-size:20px;
   padding:5px;
}

/* 하단메뉴 */
table.downmenu {
   width:1200px;
   text-align:center;
}

table.downmenu td {
   border-right:1px solid black;
}

table.t1 {
   width:1200px;
   text-align:center;
   border-collapse:collapse;
   margin-top:10px;
   margin-bottom:5px;
}

table.t2 {
   width:1000px;
   text-align:center;
   position:relative;
   left:103px;
   color:white;
}

table.t3 {
   width:900px;
   margin-top:5spx; 
   margin-bottom:5px;
}

table.t3 td {
   text-align:left;
}

table.t3 input,textarea {
   width:95%;
}
.movieimage {
    width: 190px;
    height: 255px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

img.grade {
   width:20px;
   height:20px;
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    top:4.5px;
    right:4px;
}

img.link1 {
   width:15px;
   height:15px;
   background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;
    top:2.5px;
    right:2px;
}

button.ticket {
   width:100px;
   height:35px;
   border-radius:0px;
   border:1px solid white;
   cursor:pointer;
   color:black;
   background-color: #000000;
    background-color: rgba( 0, 0, 0, 0.5 );
}
table.ticket {
   background-color: #000000;
    background-color: rgba( 0, 0, 0, 0.5 );
}
td {
	text-align: left;
}
input[type=button]{
    background-color: red; /* 빨간색으로 변경 */
    border:none;
    color:white;
    border-radius: 5px;
    width:200px;
    height:35px;
    font-size: 10pt;
    margin-top:50px;
}
.movie-table {
	background-color: #ffffff;
	width: 500px;
    height: 200px;
    border: 1px solid #cccccc;
}
.movieimage {
	width: 100px;
    height: 150px;
    background-size: cover;
    background-position: center;
} 